ba/workspace/input/Customer_docs/MEL/#MEL_R10_MMEL-CR-asterisk(DDG)_Complete-efb/Schemas/contentUnits/CDLItem.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://www.boeing.com/FTID-ML"
    xmlns:rev="http://www.boeing.com/FTID-ML/Revision"
    targetNamespace="http://www.boeing.com/FTID-ML" 
    elementFormDefault="qualified" 
    attributeFormDefault="unqualified"
    version="FTID 2.6">

<!-- 	
=================================================================


Copyright Information:
      Boeing Proprietary and Confidential - 
      All Rights Reserved since 2006.

      This schema file is part of the Boeing Flight Technical 
      Integrated Data (FTID) Specification based on XML.
      All rights are reserved under Boeing Flight Operations 
      digital data entitlements, products or services.

     
Contact Information:   	
        The Boeing Company
        Flight Operations Support
        P.O. Box 3707	MS 20-89
        Seattle, WA 98124-2207
        USA
        email:  flighttraining@Boeing.com
        Phone:  (206) 662-4000
        Fax:    (206) 662-4743

		
===================================================================
-->

<xs:include schemaLocation="../attributeTypes/generalAttrs.xsd"/>
<xs:include schemaLocation="../attributeTypes/melAttrs.xsd"/>
<xs:include schemaLocation="../basicDataTypes/basicDataInclude.xsd"/>
<xs:include schemaLocation="../metadataTypes/effect.xsd"/>
<xs:import namespace="http://www.boeing.com/FTID-ML/Revision" schemaLocation="../metadataTypes/revision.xsd"/>
<xs:include schemaLocation="../proceduralTypes/dispatch.xsd"/>


<!--=====================================================-->
<!--  CDL-Item element declaration -->
<!--=====================================================-->
<xs:element name="CDLItem" type="CDLItemType"/>


<!--=====================================================-->
<!--  CDL-Item element definition -->
<!--=====================================================-->
<xs:complexType name="CDLItemType">
    <xs:annotation>
        <xs:documentation>Content-Unit for a Configuration Deviation List (CDL) info</xs:documentation>
    </xs:annotation>

    <xs:sequence>
        <xs:element name="Effectivities" type="EffectivitiesType" minOccurs="0"/>
        <xs:element name="Title" type="TitleType"/>
        <xs:element name="DispatchCondition" type="DispatchConditionType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="LocationDiagram" type="GraphicSetType" minOccurs="0"/>
        <xs:element name="CDLSubItem" type="CDLSubItemType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>

    <xs:attribute name="itemNbr" type="itemNbrType" use="required"/>
    <xs:attribute name="id" type="UIDType" use="required"/>
    <xs:attribute name="CDLModel" type="CDLModelType" use="optional"/>
    <xs:attributeGroup ref="globalAttrGrp"/>
</xs:complexType>


<!--=====================================================-->
<!-- MELSubItem element definition -->
<!--=====================================================-->
<xs:complexType name="CDLSubItemType">
    <xs:annotation>
        <xs:documentation>Top level element to start a MEL Sub-Item level.</xs:documentation>
    </xs:annotation>

    <xs:sequence>
        <xs:element name="Effectivities" type="EffectivitiesType" minOccurs="0"/>
        <xs:element name="Title" type="TitleType"/>
        <xs:element name="DispatchCondition" type="DispatchConditionType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="LocationDiagram" type="GraphicSetType" minOccurs="0"/>
        <xs:element name="CDLSubItem" type="CDLSubItemType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>

    <xs:attribute name="itemNbr" type="itemNbrType" use="required" />
    <xs:attributeGroup ref="globalAttrGrp"/>
</xs:complexType>



</xs:schema>
