ba/workspace/input/Customer_docs/MEL/#MEL_R10_MMEL-CR-asterisk(DDG)_Complete-efb/Schemas/contentUnits/CheckList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://www.boeing.com/FTID-ML"
    xmlns:rev="http://www.boeing.com/FTID-ML/Revision"
    targetNamespace="http://www.boeing.com/FTID-ML" 
    elementFormDefault="qualified" 
    attributeFormDefault="unqualified"
    version="FTID 2.6">

<!-- 	
=================================================================


Copyright Information:
      Boeing Proprietary and Confidential - 
      All Rights Reserved since 2006.

      This schema file is part of the Boeing Flight Technical 
      Integrated Data (FTID) Specification based on XML.
      All rights are reserved under Boeing Flight Operations 
      digital data entitlements, products or services.

     
Contact Information:   	
        The Boeing Company
        Flight Operations Support
        P.O. Box 3707	MS 20-89
        Seattle, WA 98124-2207
        USA
        email:  flighttraining@Boeing.com
        Phone:  (206) 662-4000
        Fax:    (206) 662-4743

		
===================================================================
-->


<xs:include schemaLocation="../attributeTypes/generalAttrs.xsd"/>
<xs:include schemaLocation="../basicDataTypes/basicDataInclude.xsd"/>
<xs:import namespace="http://www.boeing.com/FTID-ML/Revision" schemaLocation="../metadataTypes/revision.xsd"/>
<xs:include schemaLocation="../metadataTypes/effect.xsd"/>
<xs:include schemaLocation="../metadataTypes/ataPOF.xsd"/>
<xs:include schemaLocation="../proceduralTypes/procMisc.xsd"/>
<xs:include schemaLocation="../proceduralTypes/action.xsd"/>


<!--=====================================================-->
<!--  CheckList element declaration -->
<!--=====================================================-->
<xs:element name="CheckList" type="CheckListType"/>


<!--=====================================================-->
<!-- CheckList element definition -->
<!--=====================================================-->
<xs:complexType name="CheckListType">
    <xs:annotation>
        <xs:documentation>Content-Unit for a CheckList list</xs:documentation>
    </xs:annotation>

    <xs:sequence>
        <xs:element name="Effectivities" type="EffectivitiesType" minOccurs="0"/>
        <xs:element name="Title" type="TitleType"/>
        <xs:element name="POF" type="POFType"  minOccurs="0"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Action" type="ActionType"/>
            <xs:element name="Command" type="CommandType"/>
            <xs:element name="GraphicSet" type="GraphicSetType"/>
        </xs:choice>
    </xs:sequence>

    <xs:attribute name="id" type="UIDType" use="required"/>
    <xs:attribute name="CLGroup" type="CLGroupType" default="Normal"/>
    <xs:attributeGroup ref="globalAttrGrp"/>
</xs:complexType>


<!--=====================================================-->
<!-- CLGroup attribute definition -->
<!--=====================================================-->
<xs:simpleType name="CLGroupType">
    <xs:annotation>
        <xs:documentation>Specify where check-list content type is derived from or for</xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:NMTOKEN">
        <xs:enumeration value="Normal"/>
        <xs:enumeration value="NonNormal"/>
        <xs:enumeration value="Emergency"/>
        <xs:enumeration value="na"/>
    </xs:restriction>
</xs:simpleType>


</xs:schema>
