ba/workspace/input/Customer_docs/MEL/#MEL_R10_MMEL-CR-asterisk(DDG)_Complete-efb/Schemas/contentUnits/EICASRefsList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://www.boeing.com/FTID-ML"
    xmlns:rev="http://www.boeing.com/FTID-ML/Revision"
    targetNamespace="http://www.boeing.com/FTID-ML" 
    elementFormDefault="qualified" 
    attributeFormDefault="unqualified"
    version="FTID 2.6">

<!-- 	
=================================================================


Copyright Information:
      Boeing Proprietary and Confidential - 
      All Rights Reserved since 2006.

      This schema file is part of the Boeing Flight Technical 
      Integrated Data (FTID) Specification based on XML.
      All rights are reserved under Boeing Flight Operations 
      digital data entitlements, products or services.

     
Contact Information:   	
        The Boeing Company
        Flight Operations Support
        P.O. Box 3707	MS 20-89
        Seattle, WA 98124-2207
        USA
        email:  flighttraining@Boeing.com
        Phone:  (206) 662-4000
        Fax:    (206) 662-4743

		
===================================================================
-->

<xs:include schemaLocation="../attributeTypes/generalAttrs.xsd"/>
<xs:include schemaLocation="../basicDataTypes/basicDataInclude.xsd"/>
<xs:include schemaLocation="../metadataTypes/effect.xsd"/>
<xs:import namespace="http://www.boeing.com/FTID-ML/Revision" schemaLocation="../metadataTypes/revision.xsd"/>


<!--=====================================================-->
<!--  EICASList element declaration -->
<!--=====================================================-->
<xs:element name="EICASList" type="EICASListType"/>


<!--=====================================================-->
<!-- EICASList element definition -->
<!--=====================================================-->
<xs:complexType name="EICASListType">
    <xs:annotation>
        <xs:documentation>List of electronic (EICAS) messages</xs:documentation>
    </xs:annotation>

    <xs:sequence>
        <xs:element name="Effectivities" type="EffectivitiesType" minOccurs="0"/>
        <xs:element name="EICASListItem" type="EICASListItemType" maxOccurs="unbounded"/>
    </xs:sequence>

    <xs:attribute name="id" type="UIDType" use="required"/>
    <xs:attributeGroup ref="globalAttrGrp"/>
</xs:complexType>


<!--=====================================================-->
<!-- EICASListItem element definition -->
<!--=====================================================-->
<xs:complexType name="EICASListItemType">
    <xs:annotation>
        <xs:documentation>An EICAS item info</xs:documentation>
    </xs:annotation>

    <xs:sequence>
        <xs:element name="Effectivities" type="EffectivitiesType" minOccurs="0"/>
        <xs:element name="EICASMessage" type="EICASMessageType"/>
        <xs:element name="EICASLevelWithRefs" type="EICASLevelWithRefsType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>

    <xs:attributeGroup ref="globalAttrGrp"/>
</xs:complexType>


<!--=====================================================-->
<!-- EICASMessage element definition -->
<!--=====================================================-->
<xs:complexType name="EICASMessageType" mixed="true">
    <xs:annotation>
        <xs:documentation>EICAS message description</xs:documentation>
    </xs:annotation>

    <xs:attributeGroup ref="globalAttrGrp"/>
</xs:complexType>


<!--=====================================================-->
<!-- EICASLevelWithRefs element definition -->
<!--=====================================================-->
<xs:complexType name="EICASLevelWithRefsType">
    <xs:annotation>
        <xs:documentation>An EICAS message level and its possible MMEL references</xs:documentation>
    </xs:annotation>

    <xs:sequence>
        <xs:element name="EICASLevel" type="EICASLevelType"/>
        <xs:element name="MMELItemRef" type="MMELItemRefType"  minOccurs="0"/>
    </xs:sequence>

</xs:complexType>


<!--=====================================================-->
<!-- EICASLevel element definition -->
<!--=====================================================-->
<xs:complexType name="EICASLevelType" mixed="true">
    <xs:annotation>
        <xs:documentation>EICAS level status</xs:documentation>
    </xs:annotation>

    <xs:attributeGroup ref="globalAttrGrp"/>
</xs:complexType>


<!--=====================================================-->
<!-- MMELItemRef element definition -->
<!--=====================================================-->
<xs:complexType name="MMELItemRefType">
    <xs:annotation>
        <xs:documentation>MMEL-item reference info</xs:documentation>
    </xs:annotation>

    <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="Para" type="ParaType" />
        <xs:element ref="iLink" />
    </xs:choice>
    <xs:attributeGroup ref="globalAttrGrp"/>
</xs:complexType>


</xs:schema>
