ba/workspace/input/Customer_docs/MEL/#MEL_R10_MMEL-CR-asterisk(DDG)_Complete-efb/Schemas/contentUnits/Limitation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://www.boeing.com/FTID-ML"
    xmlns:rev="http://www.boeing.com/FTID-ML/Revision"
    targetNamespace="http://www.boeing.com/FTID-ML" 
    elementFormDefault="qualified" 
    attributeFormDefault="unqualified"
    version="FTID 2.6">

<!-- 	
=================================================================


Copyright Information:
      Boeing Proprietary and Confidential - 
      All Rights Reserved since 2006.

      This schema file is part of the Boeing Flight Technical 
      Integrated Data (FTID) Specification based on XML.
      All rights are reserved under Boeing Flight Operations 
      digital data entitlements, products or services.

     
Contact Information:   	
        The Boeing Company
        Flight Operations Support
        P.O. Box 3707	MS 20-89
        Seattle, WA 98124-2207
        USA
        email:  flighttraining@Boeing.com
        Phone:  (206) 662-4000
        Fax:    (206) 662-4743

		
===================================================================
-->


<xs:include schemaLocation="../attributeTypes/generalAttrs.xsd"/>
<xs:include schemaLocation="../basicDataTypes/basicDataInclude.xsd"/>
<xs:include schemaLocation="../metadataTypes/ataSystems.xsd" />
<xs:include schemaLocation="../metadataTypes/effect.xsd"/>
<xs:import namespace="http://www.boeing.com/FTID-ML/Revision" schemaLocation="../metadataTypes/revision.xsd"/>



<!--=====================================================-->
<!--  Root element declaration -->
<!--=====================================================-->
<xs:element name="Limitation" type="LimitationType"/>


<!--=====================================================-->
<!-- Limitation element definition -->
<!--=====================================================-->
<xs:complexType name="LimitationType">
    <xs:annotation>
        <xs:documentation>Content-Unit for the Limitation info (normally of an airplane system)</xs:documentation>
    </xs:annotation>

    <xs:sequence>
        <xs:element name="Effectivities" type="EffectivitiesType" minOccurs="0"/>
        <xs:element name="Title" type="TitleType"/>
        <xs:element name="ATASystems" type="ATASystemsType"  minOccurs="0"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="LimitDesc" type="LimitDescType"/>
            <xs:element name="LimitSubSubject" type="LimitSubSubjectType"/>
        </xs:choice>
    </xs:sequence>

    <xs:attribute name="id" type="UIDType" use="required"/>
    <xs:attributeGroup ref="globalAttrGrp"/>
</xs:complexType>


<!--=====================================================-->
<!-- LimitDesc element definition -->
<!--=====================================================-->
<xs:complexType name="LimitDescType">
    <xs:annotation>
        <xs:documentation>Technical and descriptive content container for Limitation</xs:documentation>
    </xs:annotation>

    <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="TextCWNGroupType"/>
        <xs:element name="LimitItem" type="LimitItemType"  minOccurs="0"/>
    </xs:choice>

    <xs:attributeGroup ref="globalAttrGrp"/>
</xs:complexType>


<!--=====================================================-->
<!-- LimitSubSubject element definition -->
<!--=====================================================-->
<xs:complexType name="LimitSubSubjectType">
    <xs:annotation>
        <xs:documentation>Sub-level of a system Limitation</xs:documentation>
    </xs:annotation>

    <xs:sequence>
        <xs:element name="Effectivities" type="EffectivitiesType" minOccurs="0"/>
        <xs:element name="Title" type="TitleType"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="LimitDesc" type="LimitDescType"/>
            <xs:element name="LimitSubSubject" type="LimitSubSubjectType"/>
        </xs:choice>
    </xs:sequence>

    <xs:attributeGroup ref="globalAttrGrp"/>
</xs:complexType>


<!--=====================================================-->
<!-- LimitItem element definition -->
<!--=====================================================-->
<xs:complexType name="LimitItemType">
    <xs:annotation>
        <xs:documentation>Specify a limitation value</xs:documentation>
    </xs:annotation>

    <xs:sequence>
        <xs:element name="Effectivities" type="EffectivitiesType" minOccurs="0"/>
        <xs:choice maxOccurs="unbounded">
            <xs:element name="LimitItemDesc" type="genericStrType" />
            <xs:element name="LimitItemValue" type="genericStrType" />
        </xs:choice>
    </xs:sequence>

    <xs:attributeGroup ref="globalAttrGrp"/>
</xs:complexType>




</xs:schema>
