ba/workspace/input/Customer_docs/MEL/#MEL_R10_MMEL-CR-asterisk(DDG)_Complete-efb/Schemas/contentUnits/SDSubject.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://www.boeing.com/FTID-ML"
    xmlns:rev="http://www.boeing.com/FTID-ML/Revision"
    targetNamespace="http://www.boeing.com/FTID-ML" 
    elementFormDefault="qualified" 
    attributeFormDefault="unqualified"
    version="FTID 2.8">

<!-- 	
=================================================================


Copyright Information:
      Boeing Proprietary and Confidential - 
      All Rights Reserved since 2006.

      This schema file is part of the Boeing Flight Technical 
      Integrated Data (FTID) Specification based on XML.
      All rights are reserved under Boeing Flight Operations 
      digital data entitlements, products or services.

     
Contact Information:   	
        The Boeing Company
        Flight Operations Support
        P.O. Box 3707	MS 20-89
        Seattle, WA 98124-2207
        USA
        email:  flighttraining@Boeing.com
        Phone:  (206) 662-4000
        Fax:    (206) 662-4743

		
===================================================================
-->


<xs:include schemaLocation="../attributeTypes/generalAttrs.xsd"/>
<xs:include schemaLocation="../basicDataTypes/basicDataInclude.xsd"/>
<xs:include schemaLocation="../metadataTypes/ataSystems.xsd" />
<xs:include schemaLocation="../metadataTypes/effect.xsd"/>
<xs:import namespace="http://www.boeing.com/FTID-ML/Revision" schemaLocation="../metadataTypes/revision.xsd"/>



<!--=====================================================-->
<!--  Root element declaration -->
<!--=====================================================-->
<xs:element name="SDSubject" type="SDSubjectType"/>


<!--=====================================================-->
<!-- SDSubject element definition -->
<!--=====================================================-->
<xs:complexType name="SDSubjectType">
    <xs:annotation>
        <xs:documentation>Content-Unit for a systems-description Subject content       </xs:documentation>
    </xs:annotation>

    <xs:sequence>
        <xs:element name="Effectivities" type="EffectivitiesType" minOccurs="0"/>
        <xs:element name="Title" type="TitleType"/>
		<xs:element name="AdditionalTitles" type="AdditionalTitlesType" minOccurs="0"/>
        <xs:element name="ATASystems" type="ATASystemsType"  minOccurs="0"/>
        <xs:element name="SDBody" type="SDBodyType" minOccurs="0"/>
        <xs:element name="SDSubSubject" type="SDSubSubjectType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>

    <xs:attribute name="id" type="UIDType" use="required"/>
    <xs:attributeGroup ref="globalAttrGrp"/>
</xs:complexType>


<!--=====================================================-->
<!-- SDSubSubject element definition -->
<!--=====================================================-->
<xs:complexType name="SDSubSubjectType">
    <xs:annotation>
        <xs:documentation>Sub-level Subject content</xs:documentation>
    </xs:annotation>

    <xs:sequence>
        <xs:element name="Effectivities" type="EffectivitiesType" minOccurs="0"/>
        <xs:element name="Title" type="TitleType" minOccurs="0"/>
		<xs:element name="AdditionalTitles" type="AdditionalTitlesType" minOccurs="0"/>
        <xs:element name="ATASystems" type="ATASystemsType"  minOccurs="0"/>
        <xs:element name="SDBody" type="SDBodyType" minOccurs="0"/>
        <xs:element name="SDSubjItem" type="SDSubjItemType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>

    <xs:attribute name="id" type="UIDType" use="required"/>
    <xs:attributeGroup ref="globalAttrGrp"/>
</xs:complexType>


<!--=====================================================-->
<!-- SDSubjItem element definition -->
<!--=====================================================-->
<xs:complexType name="SDSubjItemType">
    <xs:annotation>
        <xs:documentation>A content item within a subject</xs:documentation>
    </xs:annotation>

    <xs:sequence>
        <xs:element name="Effectivities" type="EffectivitiesType" minOccurs="0"/>
        <xs:element name="Title" type="TitleType" minOccurs="0"/>
		<xs:element name="AdditionalTitles" type="AdditionalTitlesType" minOccurs="0"/>
        <xs:element name="SDBody" type="SDBodyType" minOccurs="0"/>
        <xs:element name="SDSubjItem" type="SDSubjItemType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>

    <xs:attributeGroup ref="globalAttrGrp"/>
</xs:complexType>


<!--=====================================================-->
<!-- SDBody element definition -->
<!--=====================================================-->
<xs:complexType name="SDBodyType">
    <xs:annotation>
        <xs:documentation>Technical and descriptive content container</xs:documentation>
    </xs:annotation>

    <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="TextCWNGroupType"/>
    </xs:choice>

    <xs:attributeGroup ref="globalAttrGrp"/>
</xs:complexType>


</xs:schema>
