ba/workspace/input/Customer_docs/MEL/#MEL_R10_MMEL-CR-asterisk(DDG)_Complete-efb/Schemas/contentUnits/SoftwareUnit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://www.boeing.com/FTID-ML"
    xmlns:rev="http://www.boeing.com/FTID-ML/Revision"
    targetNamespace="http://www.boeing.com/FTID-ML" 
    elementFormDefault="qualified" 
    attributeFormDefault="unqualified"
    version="FTID 2.6">

<!-- 	
=================================================================


Copyright Information:
      Boeing Proprietary and Confidential - 
      All Rights Reserved since 2006.

      This schema file is part of the Boeing Flight Technical 
      Integrated Data (FTID) Specification based on XML.
      All rights are reserved under Boeing Flight Operations 
      digital data entitlements, products or services.

     
Contact Information:   	
        The Boeing Company
        Flight Operations Support
        P.O. Box 3707	MS 20-89
        Seattle, WA 98124-2207
        USA
        email:  flighttraining@Boeing.com
        Phone:  (206) 662-4000
        Fax:    (206) 662-4743

		
===================================================================
-->

<xs:include schemaLocation="../attributeTypes/generalAttrs.xsd"/>
<xs:include schemaLocation="../basicDataTypes/basicDataInclude.xsd"/>
<xs:include schemaLocation="../metadataTypes/effect.xsd"/>
<xs:import namespace="http://www.boeing.com/FTID-ML/Revision" schemaLocation="../metadataTypes/revision.xsd"/>



<!--=====================================================-->
<!--  Root element declaration -->
<!--=====================================================-->
<xs:element name="SoftwareUnit" type="SoftwareUnitType"/>


<!--=====================================================-->
<!-- SoftwareUnit element definition -->
<!--=====================================================-->
<xs:complexType name="SoftwareUnitType">
    <xs:annotation>
        <xs:documentation>Content Unit for a reference to a software application</xs:documentation>
    </xs:annotation>

    <xs:sequence>
        <xs:element name="Effectivities" type="EffectivitiesType" minOccurs="0"/>
        <xs:element name="Title" type="TitleType" minOccurs="0"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="TextCWNGroupType"/>
            <xs:element name="SoftwareRef" type="SoftwareRefType"/>
        </xs:choice>
    </xs:sequence>

    <xs:attribute name="id" type="UIDType" use="required"/>
    <xs:attributeGroup ref="globalAttrGrp"/>
</xs:complexType>


<!--=====================================================-->
<!-- SoftwareRef element definition -->
<!--=====================================================-->
<xs:complexType name="SoftwareRefType">
    <xs:annotation>
        <xs:documentation>SW Info and reference</xs:documentation>
    </xs:annotation>

    <xs:sequence>
        <xs:element name="Effectivities" type="EffectivitiesType" minOccurs="0"/>
        <xs:element ref="iLink" />
    </xs:sequence>

    <xs:attribute name="swType" type="xs:string" use="optional"/>
    <xs:attribute name="swSerialNo" type="xs:string" use="optional"/>
    <xs:attribute name="swReleaseNo" type="xs:string" use="optional"/>
    <xs:attribute name="swReleaseDate" type="xs:date" use="optional"/>
    <xs:attribute name="swOEM" type="xs:string" use="optional"/>
    <xs:attributeGroup ref="globalAttrGrp"/>
</xs:complexType>

</xs:schema>
