ba/workspace/input/Customer_docs/MEL/#MEL_R10_MMEL-CR-asterisk(DDG)_Complete-efb/Schemas/basicDataTypes/table.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://www.boeing.com/FTID-ML"
    xmlns:rev="http://www.boeing.com/FTID-ML/Revision"
    targetNamespace="http://www.boeing.com/FTID-ML" 
    elementFormDefault="qualified" 
    attributeFormDefault="unqualified"
    version="FTID 2.6">

<!--=====================================================-->
<!--  Note: Table structure is based on CALS Standard.   -->
<!--        Lower-case element names are CALS elements.  -->
<!--=====================================================-->
<!-- 	
=================================================================


Copyright Information:
      Boeing Proprietary and Confidential - 
      All Rights Reserved since 2006.

      This schema file is part of the Boeing Flight Technical 
      Integrated Data (FTID) Specification based on XML.
      All rights are reserved under Boeing Flight Operations 
      digital data entitlements, products or services.

     
Contact Information:   	
        The Boeing Company
        Flight Operations Support
        P.O. Box 3707	MS 20-89
        Seattle, WA 98124-2207
        USA
        email:  flighttraining@Boeing.com
        Phone:  (206) 662-4000
        Fax:    (206) 662-4743

		
===================================================================
-->


<xs:include schemaLocation="../attributeTypes/generalAttrs.xsd"/>
<xs:include schemaLocation="../metadataTypes/effect.xsd"/>
<xs:import namespace="http://www.boeing.com/FTID-ML/Revision" schemaLocation="../metadataTypes/revision.xsd"/>
<xs:include schemaLocation="text.xsd"/>
<xs:include schemaLocation="cwnc.xsd"/>
<xs:include schemaLocation="graphic.xsd"/>
<xs:include schemaLocation="groups.xsd"/>



<xs:complexType name="tableType">
    <xs:sequence>
        <xs:element name="Effectivities" type="EffectivitiesType" minOccurs="0"/>
        <xs:element name="Title" type="TitleType" minOccurs="0"/>
        <xs:element name="tgroup" type="tgroupType" maxOccurs="unbounded"/>
        <xs:element name="ftnote" type="ftnoteType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>

    <xs:attribute name="tabstyle" type="tabstyleType" use="optional"/>
    <xs:attribute name="frame" type="frameType" default="none"/>
    <xs:attribute name="colsep" type="seperatorType" default="1"/>
    <xs:attribute name="rowsep" type="seperatorType" default="1"/>
    <xs:attribute name="orient" type="orientType" default="port"/>
    <xs:attribute name="pgwide" type="xs:string" use="optional"/>
    <xs:attributeGroup ref="globalAttrGrp"/>
</xs:complexType>


<!--=====================================================-->
<!-- tgroup element definition -->
<!--=====================================================-->
<xs:complexType name="tgroupType">
    <xs:sequence>
        <xs:element name="Effectivities" type="EffectivitiesType" minOccurs="0"/>
        <xs:element name="colspec" type="colspecType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="spanspec" type="spanspecType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="thead" type="theadType" minOccurs="0"/>
        <xs:element name="tfoot" type="tfootType" minOccurs="0"/>
        <xs:element name="tbody" type="tbodyType"/>
    </xs:sequence>

    <xs:attribute name="cols" type="xs:positiveInteger" use="required"/>
    <xs:attribute name="colsep" type="seperatorType" default="1"/>
    <xs:attribute name="rowsep" type="seperatorType" default="1"/>
    <xs:attribute name="align" type="alignType" default="left"/>
    <xs:attribute name="charoff" type="xs:string" default="50"/>
    <xs:attribute name="char" type="xs:string" default="0"/>
</xs:complexType>


<!--=====================================================-->
<!-- colspec element definition -->
<!--=====================================================-->
<xs:complexType name="colspecType">
    <xs:attribute name="colnum" type="xs:positiveInteger" use="optional"/>
    <xs:attribute name="colname" type="xs:token" use="optional"/>
    <xs:attribute name="align" type="alignType" default="left"/>
    <xs:attribute name="charoff" type="xs:string" use="optional"/>
    <xs:attribute name="char" type="xs:string" use="optional"/>
    <xs:attribute name="colwidth" type="xs:string" use="optional"/>
    <xs:attribute name="colsep" type="seperatorType" default="1"/>
    <xs:attribute name="rowsep" type="seperatorType" default="1"/>
</xs:complexType>


<!--=====================================================-->
<!-- spanspec element definition -->
<!--=====================================================-->
<xs:complexType name="spanspecType">
    <xs:attribute name="namest" type="xs:NMTOKEN" use="required"/>
    <xs:attribute name="nameend" type="xs:NMTOKEN" use="required"/>
    <xs:attribute name="spanname" type="xs:NMTOKEN" use="required"/>
    <xs:attribute name="align" type="alignType" default="center"/>
    <xs:attribute name="charoff" type="xs:string" use="optional"/>
    <xs:attribute name="char" type="xs:string" use="optional"/>
    <xs:attribute name="colsep" type="seperatorType" default="1"/>
    <xs:attribute name="rowsep" type="seperatorType" default="1"/>
</xs:complexType>


<!--=====================================================-->
<!--  thead element definition -->
<!--=====================================================-->
<xs:complexType name="theadType">
    <xs:sequence>
        <xs:element name="colspec" type="colspecType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="row" type="rowType" maxOccurs="unbounded"/>
    </xs:sequence>

    <xs:attribute name="valign" type="valignType" default="top"/>
    <xs:attributeGroup ref="globalAttrGrp"/>
</xs:complexType>


<!--=====================================================-->
<!--  tfoot element definition -->
<!--=====================================================-->
<xs:complexType name="tfootType">
    <xs:sequence>
        <xs:element name="colspec" type="colspecType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="row" type="rowType" maxOccurs="unbounded"/>
    </xs:sequence>

    <xs:attribute name="valign" type="valignType" default="top"/>
    <xs:attributeGroup ref="globalAttrGrp"/>
</xs:complexType>


<!--=====================================================-->
<!--  tbody element definition -->
<!--=====================================================-->
<xs:complexType name="tbodyType">
    <xs:sequence>
        <xs:element name="Effectivities" type="EffectivitiesType" minOccurs="0"/>
        <xs:element name="row" type="rowType" maxOccurs="unbounded"/>
    </xs:sequence>

    <xs:attribute name="valign" type="valignType" default="top"/>
    <xs:attributeGroup ref="globalAttrGrp"/>
</xs:complexType>


<!--=====================================================-->
<!--  row element definition -->
<!--=====================================================-->
<xs:complexType name="rowType">
    <xs:sequence>
        <xs:element name="Effectivities" type="EffectivitiesType" minOccurs="0"/>
        <xs:element name="entry" type="entryType" maxOccurs="unbounded"/>
    </xs:sequence>

    <xs:attribute name="rowsep" type="seperatorType" default="1"/>
    <xs:attributeGroup ref="globalAttrGrp"/>
</xs:complexType>


<!--=====================================================-->
<!--  entry element definition -->
<!--=====================================================-->
<xs:complexType name="entryType">
    <xs:choice maxOccurs="unbounded">
        <xs:element name="Caution" type="CautionType"/>
        <xs:element name="Warning" type="WarningType"/>
        <xs:element name="GraphicSet" type="GraphicSetType"/>
        <xs:element name="List" type="ListType"/>
        <xs:element name="Para" type="ParaType"/>
        <xs:element name="Note" type="NoteType"/>
    </xs:choice>

    <xs:attribute name="colname" type="xs:NMTOKEN" use="optional"/>
    <xs:attribute name="namest" type="xs:NMTOKEN" use="optional"/>
    <xs:attribute name="nameend" type="xs:NMTOKEN" use="optional"/>
    <xs:attribute name="spanname" type="xs:NMTOKEN" use="optional"/>
    <xs:attribute name="morerows" type="xs:nonNegativeInteger" default="0"/>
    <xs:attribute name="colsep" type="seperatorType" default="1"/>
    <xs:attribute name="rowsep" type="seperatorType" default="1"/>
    <xs:attribute name="rotate" type="xs:boolean" use="optional"/>
    <xs:attribute name="align" type="alignType" default="left"/>
    <xs:attribute name="valign" type="valignType" default="top"/>
    <xs:attribute name="charoff" type="xs:string" use="optional"/>
    <xs:attribute name="char" type="xs:string" use="optional"/>
    <xs:attributeGroup ref="globalAttrGrp"/>
</xs:complexType>


<!--=====================================================-->
<!-- ftnote element definition -->
<!--=====================================================-->
<xs:complexType name="ftnoteType">
    <xs:choice>
        <xs:group ref="TextGroupType"/>
    </xs:choice>
    <xs:attributeGroup ref="globalAttrGrp"/>
</xs:complexType>


</xs:schema>
