ba/workspace/input/Customer_docs/MEL/#MEL_R10_MMEL-CR-asterisk(DDG)_Complete-efb/Schemas/commonUnits/commonUnitTypes/glossary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://www.boeing.com/FTID-ML"
    xmlns:rev="http://www.boeing.com/FTID-ML/Revision"
    targetNamespace="http://www.boeing.com/FTID-ML" 
    elementFormDefault="qualified" 
    attributeFormDefault="unqualified"
    version="FTID 2.6">

<!-- 	
=================================================================


Copyright Information:
      Boeing Proprietary and Confidential - 
      All Rights Reserved since 2006.

      This schema file is part of the Boeing Flight Technical 
      Integrated Data (FTID) Specification based on XML.
      All rights are reserved under Boeing Flight Operations 
      digital data entitlements, products or services.

     
Contact Information:   	
        The Boeing Company
        Flight Operations Support
        P.O. Box 3707	MS 20-89
        Seattle, WA 98124-2207
        USA
        email:  flighttraining@Boeing.com
        Phone:  (206) 662-4000
        Fax:    (206) 662-4743

		
===================================================================
-->

<xs:include schemaLocation="../../attributeTypes/generalAttrs.xsd"/>
<xs:include schemaLocation="../../basicDataTypes/basicDataInclude.xsd"/>
<xs:include schemaLocation="../../metadataTypes/effect.xsd"/>
<xs:import namespace="http://www.boeing.com/FTID-ML/Revision" schemaLocation="../../metadataTypes/revision.xsd"/>


<!-- Split from the Glossary.xsd to share the commone GlossaryListType with other front-matter schemas -->

<!--=====================================================-->
<!--  GlossaryList element definition -->
<!--=====================================================-->
<xs:complexType name="GlossaryListType">
    <xs:annotation>
        <xs:documentation>Container of glossary items</xs:documentation>
    </xs:annotation>

    <xs:sequence maxOccurs="unbounded">
        <xs:element name="Guide" type="ExtendedMixedContentType" minOccurs="0"/>
        <xs:element name="GlossaryItem" type="GlossaryItemType" maxOccurs="unbounded"/>
    </xs:sequence>

    <xs:attributeGroup ref="globalAttrGrp"/>
</xs:complexType>


<!--=====================================================-->
<!--  GlossaryItem element definition -->
<!--=====================================================-->
<xs:complexType name="GlossaryItemType">
    <xs:annotation>
        <xs:documentation>Container for individual Term/Definition</xs:documentation>
    </xs:annotation>

    <xs:sequence>
        <xs:element name="Term" type="ExtendedMixedContentType"/>
        <xs:element name="Definition" type="ExtendedMixedContentType" maxOccurs="unbounded"/>
        <xs:element name="GlossaryList" type="GlossaryListType" minOccurs="0"/>
    </xs:sequence>

    <xs:attributeGroup ref="globalAttrGrp"/>
</xs:complexType>


</xs:schema>
