ba/workspace/input/Customer_docs/MEL/#MEL_R10_MMEL-CR-asterisk(DDG)_Complete-efb/Schemas/publishUnits/DispatchItems.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://www.boeing.com/FTID-ML"
    xmlns:rev="http://www.boeing.com/FTID-ML/Revision"
    targetNamespace="http://www.boeing.com/FTID-ML" 
    elementFormDefault="qualified" 
    attributeFormDefault="unqualified"
    version="FTID 2.7">

<!-- 	
=================================================================


Copyright Information:
      Boeing Proprietary and Confidential - 
      All Rights Reserved since 2006.

      This schema file is part of the Boeing Flight Technical 
      Integrated Data (FTID) Specification based on XML.
      All rights are reserved under Boeing Flight Operations 
      digital data entitlements, products or services.

     
Contact Information:   	
        The Boeing Company
        Flight Operations Support
        P.O. Box 3707	MS 20-89
        Seattle, WA 98124-2207
        USA
        email:  flighttraining@Boeing.com
        Phone:  (206) 662-4000
        Fax:    (206) 662-4743

		
===================================================================
-->

<xs:include schemaLocation="../attributeTypes/generalAttrs.xsd"/>
<xs:include schemaLocation="../attributeTypes/melAttrs.xsd"/>
<xs:include schemaLocation="../basicDataTypes/basicDataInclude.xsd"/>
<xs:include schemaLocation="../metadataTypes/effect.xsd"/>
<xs:import namespace="http://www.boeing.com/FTID-ML/Revision" schemaLocation="../metadataTypes/revision.xsd"/>
<xs:include schemaLocation="../metadataTypes/publishMD.xsd" />
<xs:include schemaLocation="../contentUnits/MELItem.xsd" />
<xs:include schemaLocation="../contentUnits/CDLItem.xsd" />



<!--=====================================================-->
<!--  Publish-Unit: DispatchItems element declaration -->
<!--=====================================================-->
<xs:element name="DispatchItems" type="DispatchItemsType">
    <xs:annotation>
        <xs:documentation>DispatchItems is a Publish-Unit of the FTID-ML Standard.  It consists of one or more MEL/CDL Content-Unit(s) to be published as a set.</xs:documentation>
    </xs:annotation>
</xs:element>

<!--=====================================================-->
<!-- DispatchItemsType element definition -->
<!--=====================================================-->
<xs:complexType name="DispatchItemsType">
    <xs:annotation>
        <xs:documentation>Top level type to define a complete publishable unit of MEL/CDL item(s).</xs:documentation>
    </xs:annotation>

    <xs:sequence>
        <xs:element name="PUMetaData" type="PUMetaDataType"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="MELItem" />
            <xs:element ref="CDLItem" />
            <xs:element ref="iLink" />
        </xs:choice>
    </xs:sequence>

    <xs:attribute name="id" type="UIDType" use="required"/>
</xs:complexType>



</xs:schema>
