ba/workspace/input/Customer_docs/MEL/#MEL_R10_MMEL-CR-asterisk(DDG)_Complete-efb/Schemas/commonUnits/RevisionRecord.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://www.boeing.com/FTID-ML"
    xmlns:rev="http://www.boeing.com/FTID-ML/Revision"
    targetNamespace="http://www.boeing.com/FTID-ML" 
    elementFormDefault="qualified" 
    attributeFormDefault="unqualified"
    version="FTID 2.6">

<!-- 	
=================================================================


Copyright Information:
      Boeing Proprietary and Confidential - 
      All Rights Reserved since 2006.

      This schema file is part of the Boeing Flight Technical 
      Integrated Data (FTID) Specification based on XML.
      All rights are reserved under Boeing Flight Operations 
      digital data entitlements, products or services.

     
Contact Information:   	
        The Boeing Company
        Flight Operations Support
        P.O. Box 3707	MS 20-89
        Seattle, WA 98124-2207
        USA
        email:  flighttraining@Boeing.com
        Phone:  (206) 662-4000
        Fax:    (206) 662-4743

		
===================================================================
-->

<xs:include schemaLocation="../attributeTypes/generalAttrs.xsd"/>
<xs:include schemaLocation="../basicDataTypes/basicDataInclude.xsd"/>
<xs:include schemaLocation="../metadataTypes/effect.xsd"/>
<xs:import namespace="http://www.boeing.com/FTID-ML/Revision" schemaLocation="../metadataTypes/revision.xsd"/>
<xs:include schemaLocation="commonUnitTypes/fmTopic.xsd"/>


<!--=====================================================-->
<!--  RevisionRecord element declaration -->
<!--=====================================================-->
<xs:element name="RevisionRecord" type="RevisionRecordType"/>


<!--=====================================================-->
<!--  RevisionRecord element definition -->
<!--=====================================================-->
<xs:complexType name="RevisionRecordType">
    <xs:annotation>
        <xs:documentation>Content-Unit for recording Revision history</xs:documentation>
    </xs:annotation>

    <xs:sequence>
        <xs:element name="Title" type="TitleType" minOccurs="0"/>
        <xs:choice maxOccurs="unbounded">
            <xs:group ref="TextGroupType"/>
        </xs:choice>
        <xs:element name="FMtopic" type="FMtopicType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="HighlightList" type="HighlightListType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>

    <xs:attribute name="id" type="UIDType" use="required"/>
    <xs:attributeGroup ref="globalAttrGrp"/>
</xs:complexType>


<!--=====================================================-->
<!--  HighlightList element definition -->
<!--=====================================================-->
<xs:complexType name="HighlightListType">
    <xs:annotation>
        <xs:documentation>List of revision highlights</xs:documentation>
    </xs:annotation>

    <xs:sequence>
        <xs:element name="Title" type="TitleType" minOccurs="0"/>
        <xs:element name="Para" type="ParaType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="HighlightItem" type="HighlightItemType" maxOccurs="unbounded"/>
    </xs:sequence>
</xs:complexType>


<!--=====================================================-->
<!--  HighlightItem element definition -->
<!--=====================================================-->
<xs:complexType name="HighlightItemType">
    <xs:annotation>
        <xs:documentation>An Item within a list of highlights</xs:documentation>
    </xs:annotation>

    <xs:sequence>
        <xs:element name="Title" type="TitleType" minOccurs="0"/>
        <xs:element name="Para" type="ParaType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="HighlightList" type="HighlightListType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>

</xs:complexType>


</xs:schema>
